$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);
$white: #fff;
$poppins: "Poppins", sans-serif;
$open-sans: "Open Sans", sans-serif;
$normal: 400;
$semi-bold: 600;
$max-width: 1350px;

//  Map colors
$colors: (
  "primary": $violet,
  "secondary": $soft-magenta,
  "white": $white,
);

@debug map-get($colors, "primary");
