@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@400;600&display=swap");

@import "variables";
@import "round-links";
@import "button";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $poppins;
  background: url(../images/bg-desktop.svg) no-repeat center center/cover;
  background-color: map-get($colors, "primary");
  height: 100vh;
}

.flex-layout-column {
  display: flex;
  flex-direction: column;
}

.container {
  @extend .flex-layout-column;
  max-width: $max-width;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  padding: 2rem;
  flex: 1;
}

.hero {
  min-height: 100%;
  @extend .flex-layout-column;

  &-content {
    display: grid;
    grid-template-columns: 1fr 0.75fr;
    gap: 1rem;

    img {
      width: 100%;
      height: auto;
      align-self: center;
    }

    & > div {
      color: map-get($colors, "white");
      padding: 3rem 0 0 2rem;

      h1 {
        font-size: 2.5rem;
        font-weight: $semi-bold;
        line-height: 1.5;
        margin-bottom: 1rem;
      }

      p {
        font-family: $open-sans;
        font-weight: 300;
        line-height: 1.5;
        font-size: 1.1rem;
        margin-bottom: 1rem;
      }

      a {
        display: inline-block;
        font-family: $poppins;
        font-size: 1.2rem;
        color: map-get($colors, "primary");
        text-decoration: none;
      }

      .btn {
        @include button();

        &:hover {
          background-color: map-get($colors, "secondary");
          color: map-get($colors, "white");
        }
      }
    }
  }
  .social {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;

    a {
      @include round-links();

      &:hover {
        color: map-get($colors, "secondary");
        border-color: map-get($colors, "secondary");
      }
      i {
        padding: 0.8rem;
      }
    }
  }
}

@media (max-width: 1100px) {
  .hero-content {
    & > div {
      padding-top: 1rem;
      h1 {
        font-size: 1.8rem;
      }
    }
  }
}

@media (max-width: 860px) {
  .hero-content {
    & > div {
      padding-top: 1rem;
      h1 {
        font-size: 1.4rem;
      }
      p {
        font-size: 1rem;
      }
      .btn {
        margin-top: 1rem;
      }
    }
  }
}

@media (max-width: 680px) {
  body {
    background-image: none;
  }
  .container {
    background-image: url(../images/bg-mobile.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100vw;
    padding: 1rem;
    justify-content: flex-start;
    min-height: 100vh;
  }

  .hero {
    nav img {
      width: 150px;
      height: 100px;
    }
    &-content {
      grid-template-columns: 1fr;
      text-align: center;

      img {
        justify-self: center;
        max-width: 500px;
      }

      & > div {
        padding: 0;

        h1 {
          font-size: 1.3rem;
        }
        p {
          margin-bottom: 0.5rem;
          font-size: 1rem;
        }
        .btn {
          margin-top: 1rem;
          font-size: 14px;
        }
      }
    }
    .social {
      margin-top: 2rem;

      justify-content: center;

      a {
        @include round-links(1.3rem);
      }
    }
  }
}
